/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* Custom style goes bewlow this comment line */

/* HERO - start */
section.bg-main-image{
    background-image: url(../../img/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


.hero{
    text-align: center;
    flex-direction: column;
    gap: 30px;
    display: flex;
    align-items: center;
}

.hero > .logo{
    height: 60px;

}

.hero > .title{
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero > .description{
    font-size: 20px;
    

}
/* HERO - end */

/* MAIN - start */
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;

}

.right-column{
    width: 40%;
}

.section-title{
    text-transform: uppercase;
    font-size: 20px;
}

.section-description{
    font-size: 18px;
    color:#777;
}

.section-description > a{
    color: red;
    text-decoration: none;
}

.section-description > a:hover{
    text-decoration: underline;
}
/* MAIN - end */

/*FOOTER - start*/
    .container{
        padding-top: 0;
    }
    .container > .row{
        border-bottom: 2px solid white;
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #FFFFFF93;
        font-size: 18px;
        line-height: 1.6;
    }

    .footer-bottom > .logo{
        height: 40px;
        margin: 40px 0;
    }
    .footer-bottom > .futeriukai{
        display: flex;
        justify-content: center;
        gap:30px;
    }

    .footer-bottom a{
        color:white;
    }


    .futeriukai > *{
        position: relative;
    } 

    .futeriukai > *::after{
        content: "";
        width: 0.7px;
        height: 20px;
        background-color: white;

        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(50%, -50%);
    }
    .futeriukai > *:last-child::after{
        display: none;
    }
/*FOOTER - end */